body{
	margin: 2%;
	background-color: #ffd6cc;
	font-size: 150%;

}
header,footer{
	background-image: url('https://radhamujumdar.github.io/pink.jpg');
	border: solid;
	border-color:#cc0066;
}
header
	background-color: #ffb3b3;
	text-align: center;
	padding: 15px;
	
}
h1{
	font-style: oblique;
}
nav{
	font-variant: small-caps;
	color: #ff5c33;
	font-family: sans-serif;
}
nav>a{
	border: solid;
	text-decoration: none;
	padding: 5px;
	margin-right: 30px;
	width: 15%;
	display: inline-block;
	background-color: #ffcccc;

}
h2{
	color:  #cc0066;
	font-family: cursive;
	
}

.half{
	display: inline-block;
	width: 45%;
	float:left;
	margin-right: 2%; 
	
}
.whole{
	clear:both;
	
}
summary{
	font-style: normal;
}
details{
	font-style: italic;
}
footer{
	clear: both;
	height: 75px;
}


img{
	width: 75px;
	opacity: 1.0;
}
a:hover{
	color:#b30059;
}
a:focus{
	color:  #00ff00;
}
